@font-face {
    font-family: 'nothing';
    /* Change 'YourFontName' to your preferred font name */
    src: url('assets/nothing-font-5x7.ttf') format('truetype');
    src: url('assets/nothing-font-5x7.otf') format('opentype');
    /* You can add more src declarations here for different file formats (e.g., woff, ttf) */
}

/* Reset default styles */
body, h1, h2, h3, p, input, button {
    margin: 0;
    padding: 0;
    font-family: nothing;
  }
  
  /* Dark theme */
  body {
    background-color: #000000;
    margin: 0;
    font-family: 'nothing', sans-serif;
    color: whitesmoke;
  
    --color: rgba(114, 114, 114, 0.3);
    background-color: #191a1a;
    background-image: linear-gradient(0deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent),
        linear-gradient(90deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent);
    background-size: 55px 55px;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  /* Date card styles */
  .date-card {
    width: 190px;
    height: 254px;
    margin: 0 auto;
    background-color: #0a0a0a;
    border-radius: 8px;
    z-index: 1;
    margin-left: 60%;
    margin-top: -300px;
  }
  
  /* Notepad styles */
  .page {
    position: relative;
    box-sizing: border-box;
    max-width: 300px;
    font-family: cursive;
    font-size: 20px;
    border-radius: 10px;
    background: #fff;
    background-image: linear-gradient(#f5f5f0 1.1rem, #ccc 1.2rem);
    background-size: 100% 1.2rem;
    line-height: 1.2rem;
    padding: 1.4rem 1.5rem 1.3rem 4.2rem;
    margin-left: 70px;
    margin-top: -300px;
  }
  
  .page::before,
  .page::after {
    position: absolute;
    content: "";
    bottom: 10px;
    width: 40%;
    height: 10px;
    box-shadow: 0 5px 14px rgba(0, 0, 0, 0.7);
    z-index: -1;
    transition: all 0.3s ease;
  }
  
  .page::before {
    left: 15px;
    transform: skew(-5deg) rotate(-5deg);
  }
  
  .page::after {
    right: 15px;
    transform: skew(5deg) rotate(5deg);
  }
  
  .page:hover::before,
  .page:hover::after {
    box-shadow: 0 2px 14px rgba(0, 0, 0, 0.4);
  }
  
  .margin {
    position: absolute;
    border-left: 1px solid #d88;
    height: 100%;
    left: 3.3rem;
    top: 0;
  }
  
  .page p {
    margin: 0;
    text-indent: 0.1rem;
    padding-bottom: 1.2rem;
    color: black;
    line-height: 20px;
  }
  
  /* Search bar styles */
  .main-search-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -300px;
    font-family: 'nothing', sans-serif;
  }
  
  .search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2b2b2b;
    padding: 8px;
    border-radius: 24px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .search-box {
    border: none;
    background-color: transparent;
    outline: none;
    color: #fff;
    padding: 8px;
    width: 250px;
    font-family: 'nothing', sans-serif;
  }
  
  .search-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 6px;
    border-radius: 50%;
  }
  
  .search-button img {
    width: 20px;
    height: 20px;
  }
  
  /* Media Queries for responsiveness */
  
  /* For smaller screens or mobile devices */
  @media only screen and (max-width: 768px) {
    .container {
      flex-direction: column;
    }
  
    .search-box {
      width: 90%; /* Adjust width for smaller screens */
    }
  }
  